.navbar-main {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  box-shadow: #dddddd 1px 3px 3px;
}

.navbar-left {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

.navbar-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.navbar-main li {
  float: left;
}

.navbar-main h3 {
  padding-left: 2rem;
  color: #0073d1;
}

.navbar__li {
  height: 90%;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-top: 0.2rem;
  margin-right: 2rem;
  border-radius: 3px;
  background-color: #adadad;
}

.navbar__li:hover {
  background-color: #0073d1;
  color: white;
  cursor: pointer;
}

.active {
  height: 90%;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-top: 0.2rem;
  margin-right: 2rem;
  border-radius: 3px;
  background-color: #39e071;
}

.active:hover {
  background-color: #28b32f;
  color: white;
  cursor: pointer;
}
