.newGoalForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding-top: 1rem;
}

.newGoalForm label {
  margin-top: 1rem;
}

.newGoalForm input {
  margin-top: 0.5rem;
  width: 75%;
}

.newGoalForm button {
  margin-top: 1rem;
  width: 6rem;
  height: 1.5rem;
}

.newGoalForm button:hover {
  cursor: pointer;
  background-color: #0073d1;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
}
